.sidenav {
    width: 250px;
    background: #140521;
    color: white;
    padding: 16px;
    border-right: 1px solid #444;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .sidenav .user-info img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
  }
  
  .sidenav h3, .sidenav p {
    margin: 0;
  }
  
  .logout-btn {
    margin-top: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6e2cbe;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .logout-btn:hover {
    background: #9867d4;
  }
  